-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: practice_site_project_new
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `access_logs`
--

DROP TABLE IF EXISTS `access_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `access_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ip_address` varchar(45) NOT NULL,
  `method` varchar(10) NOT NULL,
  `url` varchar(255) NOT NULL,
  `accessed_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `access_logs`
--

LOCK TABLES `access_logs` WRITE;
/*!40000 ALTER TABLE `access_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `access_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blocked_ip_history`
--

DROP TABLE IF EXISTS `blocked_ip_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blocked_ip_history` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ip_address` varchar(45) NOT NULL,
  `blocked_until` timestamp NOT NULL,
  `reason` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `unblocked_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=282 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blocked_ip_history`
--

LOCK TABLES `blocked_ip_history` WRITE;
/*!40000 ALTER TABLE `blocked_ip_history` DISABLE KEYS */;
INSERT INTO `blocked_ip_history` VALUES (19,'59.8.0.188','2024-12-13 01:53:34','怨쇰룄???붿껌','2024-12-13 00:53:33','2024-12-13 00:58:33'),(20,'59.8.0.188','2024-12-13 02:06:45','怨쇰룄???붿껌','2024-12-13 01:06:45','2024-12-13 01:50:09'),(21,'59.8.0.188','2024-12-13 02:50:40','怨쇰룄???붿껌','2024-12-13 01:50:40','2024-12-13 01:52:28'),(22,'59.8.0.188','2024-12-13 02:52:29','怨쇰룄???붿껌','2024-12-13 01:52:29','2024-12-13 01:54:02'),(24,'59.8.0.188','2024-12-13 03:09:35','愿由ъ옄 李⑤떒 湲곕뒫 ?뺤씤?⑹감??(?뚯뒪??','2024-12-13 02:09:35','2024-12-13 02:09:49'),(25,'59.8.0.188','2024-12-13 03:29:43','怨쇰룄???붿껌','2024-12-13 02:29:42','2024-12-13 02:31:02'),(26,'59.8.0.188','2024-12-13 03:29:43','怨쇰룄???붿껌','2024-12-13 02:29:42','2024-12-13 02:31:02'),(27,'59.8.0.188','2024-12-13 03:31:44','怨쇰룄???붿껌','2024-12-13 02:31:44','2024-12-13 02:41:29'),(28,'59.8.0.188','2024-12-13 03:51:59','怨쇰룄???붿껌','2024-12-13 02:51:58','2024-12-13 02:52:03'),(29,'59.8.0.188','2024-12-13 04:21:36','怨쇰룄???붿껌','2024-12-13 03:21:35','2024-12-13 03:21:53'),(30,'59.8.0.188','2024-12-13 04:21:58','怨쇰룄???붿껌','2024-12-13 03:21:58','2024-12-13 03:25:09'),(31,'59.8.0.188','2024-12-13 04:25:00','?담뀅?뉎뀅?담뀋?곥꽩??,'2024-12-13 03:24:59','2024-12-13 03:25:09'),(32,'59.8.0.188','2024-12-13 04:26:05','怨쇰룄???붿껌','2024-12-13 03:26:05','2024-12-13 03:26:18'),(33,'59.8.0.188','2024-12-13 04:26:20','怨쇰룄???붿껌','2024-12-13 03:26:20','2024-12-13 03:28:12'),(36,'59.8.0.188','2024-12-13 04:28:21','怨쇰룄???붿껌','2024-12-13 03:28:20','2024-12-13 03:30:51'),(37,'59.8.0.188','2024-12-13 04:32:33','怨쇰룄???붿껌','2024-12-13 03:32:33','2024-12-13 03:36:00'),(38,'59.8.0.188','2024-12-13 04:39:24','怨쇰룄???붿껌','2024-12-13 03:39:23','2024-12-13 03:40:14'),(39,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(40,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(41,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(42,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(43,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(44,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(45,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(46,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(47,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(48,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(49,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(50,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(51,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(52,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(53,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(54,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(55,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(56,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(57,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(58,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(59,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(60,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(61,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(62,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(63,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(64,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(65,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(66,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(67,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(68,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(69,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(70,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(71,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(72,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(73,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(74,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(75,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(76,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(77,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(78,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(79,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(80,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(81,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(82,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(83,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(84,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(85,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(86,'59.8.0.188','2024-12-14 03:32:38','?붿껌 珥덇낵','2024-12-14 02:32:38','2024-12-14 03:01:55'),(89,'119.207.53.140','2024-12-14 04:02:02','李⑤떒\r\n','2024-12-14 03:02:02',NULL),(90,'59.8.0.188','2024-12-14 04:02:22','?담뀅?뉎뀅?담뀋?곥꽩??,'2024-12-14 03:02:21','2024-12-14 03:13:49'),(91,'::1','2024-12-14 04:03:05','怨쇰룄???붿껌','2024-12-14 03:03:05',NULL),(92,'::1','2024-12-14 04:03:29','怨쇰룄???붿껌','2024-12-14 03:03:29',NULL),(93,'59.8.0.188','2024-12-14 04:13:18','?담뀅?뉎뀅?담뀋?곥꽩??,'2024-12-14 03:13:17','2024-12-14 03:13:49'),(94,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(95,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(96,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(97,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(98,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(99,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(100,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(101,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(102,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(103,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(104,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(105,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(106,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(107,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(108,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(109,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(110,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(111,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(112,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(113,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(114,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(115,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(116,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(117,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(118,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(119,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(120,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(121,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(122,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(123,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(124,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(125,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(126,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(127,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(128,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(129,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(130,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(131,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(132,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(133,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(134,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(135,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(136,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(137,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(138,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(139,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(140,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(141,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(142,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(143,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(144,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(145,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(146,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(147,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(148,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(149,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(150,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(151,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(152,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(153,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(154,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(155,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(156,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(157,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(158,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(159,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(160,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(161,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(162,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(163,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(164,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(165,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(166,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(167,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(168,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(169,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(170,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(171,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(172,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(173,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(174,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(175,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(176,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(177,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(178,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(179,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(180,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(181,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(182,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(183,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(184,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(185,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(186,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(187,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(188,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(189,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(190,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(191,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(192,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(193,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(194,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(195,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(196,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(197,'59.8.0.188','2024-12-14 04:13:51','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(198,'59.8.0.188','2024-12-14 04:13:51','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(199,'59.8.0.188','2024-12-14 04:13:50','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(200,'59.8.0.188','2024-12-14 04:13:51','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(201,'59.8.0.188','2024-12-14 04:13:51','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(202,'59.8.0.188','2024-12-14 04:13:51','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(203,'59.8.0.188','2024-12-14 04:13:51','怨쇰룄???붿껌','2024-12-14 03:13:51','2024-12-14 03:14:39'),(204,'59.8.0.188','2024-12-14 04:18:04','怨쇰룄???붿껌','2024-12-14 03:18:03','2024-12-14 03:18:10'),(205,'59.8.0.188','2024-12-14 04:18:49','怨쇰룄???붿껌','2024-12-14 03:18:49','2024-12-14 03:19:04'),(206,'59.8.0.188','2024-12-14 04:18:49','怨쇰룄???붿껌','2024-12-14 03:18:49','2024-12-14 03:19:04'),(207,'59.8.0.188','2024-12-14 04:18:49','怨쇰룄???붿껌','2024-12-14 03:18:49','2024-12-14 03:19:04'),(208,'59.8.0.188','2024-12-14 04:18:49','怨쇰룄???붿껌','2024-12-14 03:18:49','2024-12-14 03:19:04'),(209,'59.8.0.188','2024-12-14 04:19:05','怨쇰룄???붿껌','2024-12-14 03:19:05','2024-12-14 03:19:12'),(210,'59.8.0.188','2024-12-14 04:19:05','怨쇰룄???붿껌','2024-12-14 03:19:05','2024-12-14 03:19:12'),(211,'59.8.0.188','2024-12-14 04:19:05','怨쇰룄???붿껌','2024-12-14 03:19:05','2024-12-14 03:19:12'),(212,'59.8.0.188','2024-12-14 04:19:12','怨쇰룄???붿껌','2024-12-14 03:19:12','2024-12-14 03:19:48'),(213,'59.8.0.188','2024-12-14 04:19:12','怨쇰룄???붿껌','2024-12-14 03:19:12','2024-12-14 03:19:48'),(214,'59.8.0.188','2024-12-14 04:19:12','怨쇰룄???붿껌','2024-12-14 03:19:12','2024-12-14 03:19:48'),(215,'59.8.0.188','2024-12-14 04:54:10','怨쇰룄???붿껌','2024-12-14 03:54:09','2024-12-14 03:54:15'),(216,'43.200.125.125','2024-12-14 04:59:47','怨쇰룄???붿껌	','2024-12-14 03:59:46','2024-12-14 04:02:54'),(217,'59.8.0.188','2024-12-14 05:02:44','怨쇰룄???붿껌','2024-12-14 04:02:44','2024-12-14 04:02:56'),(218,'59.8.0.188','2024-12-14 05:03:04','怨쇰룄???붿껌','2024-12-14 04:03:03','2024-12-14 04:27:20'),(219,'59.8.0.188','2024-12-14 05:27:22','怨쇰룄???붿껌','2024-12-14 04:27:21','2024-12-14 04:27:28'),(220,'59.8.0.188','2024-12-14 06:52:30','怨쇰룄???붿껌','2024-12-14 05:52:29','2024-12-14 05:52:46'),(221,'59.8.0.188','2024-12-14 06:52:47','怨쇰룄???붿껌','2024-12-14 05:52:46','2024-12-14 05:53:00'),(222,'59.8.0.188','2024-12-14 06:53:02','怨쇰룄???붿껌','2024-12-14 05:53:01','2024-12-14 05:54:09'),(223,'202.95.12.147','2024-12-14 08:08:44','怨쇰룄???붿껌','2024-12-14 07:08:43','2024-12-15 17:36:40'),(224,'101.66.172.251','2024-12-14 15:48:43','怨쇰룄???붿껌','2024-12-14 14:48:42','2024-12-15 17:36:39'),(225,'115.238.106.50','2024-12-15 01:53:51','怨쇰룄???붿껌','2024-12-15 00:53:50','2024-12-15 17:36:39'),(226,'47.236.50.100','2024-12-15 18:18:52','怨쇰룄???붿껌','2024-12-15 17:18:51','2024-12-15 17:36:38'),(227,'59.8.0.188','2024-12-16 03:13:15','怨쇰룄???붿껌','2024-12-16 02:13:14','2024-12-16 02:13:29'),(228,'59.8.0.188','2024-12-16 03:13:30','怨쇰룄???붿껌','2024-12-16 02:13:30','2024-12-16 02:13:41'),(229,'59.8.0.188','2024-12-16 03:13:44','怨쇰룄???붿껌','2024-12-16 02:13:44','2024-12-16 02:14:08'),(230,'59.8.0.188','2024-12-16 03:14:23','怨쇰룄???붿껌','2024-12-16 02:14:23','2024-12-16 02:14:37'),(231,'59.8.0.188','2024-12-16 03:26:36','怨쇰룄???붿껌','2024-12-16 02:26:36','2024-12-16 02:26:56'),(232,'59.8.0.188','2024-12-16 03:26:59','怨쇰룄???붿껌','2024-12-16 02:27:01','2024-12-16 02:27:05'),(233,'59.8.0.188','2024-12-16 03:27:15','怨쇰룄???붿껌','2024-12-16 02:27:16','2024-12-16 02:27:19'),(234,'203.81.86.34','2024-12-16 07:00:52','怨쇰룄???붿껌','2024-12-16 06:00:51','2024-12-17 10:47:32'),(235,'59.8.0.188','2024-12-17 11:45:42','怨쇰룄???붿껌','2024-12-17 10:45:41','2024-12-17 10:47:31'),(236,'59.8.0.188','2024-12-17 11:45:42','怨쇰룄???붿껌','2024-12-17 10:45:41','2024-12-17 10:47:31'),(237,'78.153.140.222','2024-12-17 23:02:45','怨쇰룄???붿껌','2024-12-17 22:02:45','2024-12-26 00:31:42'),(238,'59.8.0.188','2024-12-18 03:05:41','怨쇰룄???붿껌','2024-12-18 02:05:40','2024-12-18 02:06:29'),(239,'59.8.0.188','2024-12-18 03:06:37','怨쇰룄???붿껌','2024-12-18 02:06:36','2024-12-18 02:13:12'),(240,'101.66.172.251','2024-12-18 07:43:55','怨쇰룄???붿껌','2024-12-18 06:43:55','2024-12-26 00:31:42'),(241,'63.141.246.226','2024-12-22 10:03:59','李⑤떒\r\n','2024-12-22 09:03:58','2024-12-23 03:46:21'),(242,'59.8.0.188','2024-12-23 04:45:08','怨쇰룄???붿껌','2024-12-23 03:45:08','2024-12-23 03:45:54'),(243,'59.8.0.188','2024-12-23 04:46:14','怨쇰룄???붿껌','2024-12-23 03:46:14','2024-12-23 03:46:22'),(244,'154.213.187.122','2024-12-23 08:54:23','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-23 07:54:22','2024-12-26 00:31:42'),(245,'57.128.215.136','2024-12-23 12:44:14','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-23 11:44:13','2024-12-26 00:31:41'),(246,'80.242.208.68','2024-12-23 13:23:43','怨쇰룄???붿껌','2024-12-23 12:23:43','2024-12-26 00:31:41'),(247,'143.244.188.202','2024-12-23 15:53:38','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-23 14:53:38','2024-12-26 00:31:41'),(248,'81.161.238.40','2024-12-23 22:01:40','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-23 21:01:39','2024-12-26 00:31:40'),(249,'178.215.236.240','2024-12-24 01:32:25','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-24 00:32:25','2024-12-26 00:31:40'),(250,'59.8.0.188','2024-12-24 02:55:46','怨쇰룄???붿껌','2024-12-24 01:55:46','2024-12-24 01:56:23'),(251,'45.148.10.205','2024-12-24 10:03:45','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-24 09:03:45','2024-12-26 00:31:40'),(252,'211.199.249.218','2024-12-24 14:29:40','怨쇰룄???붿껌','2024-12-24 13:29:39','2024-12-24 13:38:51'),(253,'211.199.249.218','2024-12-24 14:29:40','怨쇰룄???붿껌','2024-12-24 13:29:39','2024-12-24 13:38:51'),(254,'211.199.249.218','2024-12-24 14:39:25','怨쇰룄???붿껌','2024-12-24 13:39:25','2024-12-24 13:39:32'),(255,'85.209.133.142','2024-12-24 18:43:50','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-24 17:43:49','2024-12-26 00:31:39'),(256,'78.153.140.151','2024-12-24 23:11:21','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-24 22:11:20','2024-12-26 00:31:39'),(257,'91.208.197.167','2024-12-25 01:09:48','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-25 00:09:47','2024-12-26 00:31:38'),(258,'78.153.140.218','2024-12-25 04:39:04','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-25 03:39:04','2024-12-26 00:31:38'),(259,'78.153.140.218','2024-12-25 04:39:04','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-25 03:39:04','2024-12-26 00:31:38'),(260,'87.120.112.187','2024-12-25 10:15:32','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-25 09:15:32','2024-12-26 00:31:38'),(261,'185.16.39.175','2024-12-25 20:48:49','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-25 19:48:48','2024-12-26 00:31:37'),(262,'198.23.156.226','2024-12-25 22:14:33','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-25 21:14:32','2024-12-26 00:31:36'),(264,'59.8.0.188','2024-12-26 01:32:44','sa','2024-12-26 00:32:44','2024-12-26 00:32:49'),(265,'87.120.115.119','2024-12-26 02:11:49','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-26 01:11:49','2024-12-30 02:02:16'),(266,'154.213.187.122','2024-12-26 05:28:49','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-26 04:28:49','2024-12-30 02:02:16'),(267,'103.125.190.146','2024-12-26 08:05:50','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-26 07:05:49','2024-12-30 02:02:15'),(268,'104.131.82.44','2024-12-26 09:18:53','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-26 08:18:53','2024-12-30 02:02:15'),(269,'193.41.206.24','2024-12-27 16:56:22','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-27 15:56:21','2024-12-30 02:02:15'),(270,'87.120.115.34','2024-12-28 02:41:56','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-28 01:41:56','2024-12-30 02:02:14'),(271,'45.148.10.205','2024-12-28 02:42:53','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-28 01:42:53','2024-12-30 02:02:14'),(272,'103.207.37.151','2024-12-28 06:23:03','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-28 05:23:03','2024-12-30 02:02:13'),(273,'178.215.236.240','2024-12-28 06:53:33','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-28 05:53:32','2024-12-30 02:02:13'),(274,'95.214.53.205','2024-12-28 08:17:49','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-28 07:17:48','2024-12-30 02:02:13'),(275,'141.98.11.75','2024-12-29 12:04:06','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-29 11:04:06','2024-12-30 02:02:12'),(276,'87.120.120.18','2024-12-29 16:39:56','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-29 15:39:55','2024-12-30 02:02:12'),(277,'118.235.29.183','2024-12-30 03:03:38','怨쇰룄???붿껌','2024-12-30 02:03:38','2024-12-30 02:03:43'),(278,'118.235.29.183','2024-12-30 03:03:38','怨쇰룄???붿껌','2024-12-30 02:03:38','2024-12-30 02:03:43'),(279,'118.235.29.183','2024-12-30 03:04:01','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-30 02:04:01','2024-12-30 02:05:33'),(280,'118.235.29.183','2024-12-30 03:05:38','怨쇰룄???붿껌','2024-12-30 02:05:38','2024-12-30 02:05:45'),(281,'118.235.29.183','2024-12-30 03:06:03','?섏떖?ㅻ윭??寃쎈줈 ?묎렐','2024-12-30 02:06:02','2024-12-30 02:09:59');
/*!40000 ALTER TABLE `blocked_ip_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blocked_ips`
--

DROP TABLE IF EXISTS `blocked_ips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blocked_ips` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ip_address` varchar(45) NOT NULL,
  `blocked_until` timestamp NOT NULL,
  `reason` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=285 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blocked_ips`
--

LOCK TABLES `blocked_ips` WRITE;
/*!40000 ALTER TABLE `blocked_ips` DISABLE KEYS */;
/*!40000 ALTER TABLE `blocked_ips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `comments` (
  `comment_id` int unsigned NOT NULL AUTO_INCREMENT,
  `post_id` int unsigned NOT NULL,
  `user_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`comment_id`),
  KEY `post_id` (`post_id`),
  KEY `fk_comments_user_id` (`user_id`),
  CONSTRAINT `comments_ibfk_1` FOREIGN KEY (`post_id`) REFERENCES `posts` (`post_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_comments_user_id` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4907 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comments`
--

LOCK TABLES `comments` WRITE;
/*!40000 ALTER TABLE `comments` DISABLE KEYS */;
INSERT INTO `comments` VALUES (4887,12,'gmltnrsnsk','?담뀅??,'2024-12-10 18:24:26',NULL),(4905,12,'wxcve123','asdas','2024-12-14 11:21:20',NULL);
/*!40000 ALTER TABLE `comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inquiry_settings`
--

DROP TABLE IF EXISTS `inquiry_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inquiry_settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `guild_id` bigint NOT NULL,
  `category_id` bigint NOT NULL,
  `role_id` bigint NOT NULL,
  `content` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inquiry_settings`
--

LOCK TABLES `inquiry_settings` WRITE;
/*!40000 ALTER TABLE `inquiry_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `inquiry_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user` varchar(50) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pages`
--

DROP TABLE IF EXISTS `pages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pages` (
  `page_id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`page_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pages`
--

LOCK TABLES `pages` WRITE;
/*!40000 ALTER TABLE `pages` DISABLE KEYS */;
/*!40000 ALTER TABLE `pages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posts`
--

DROP TABLE IF EXISTS `posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `posts` (
  `post_id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `content` longtext COLLATE utf8mb4_general_ci,
  `likes_count` int DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `media_path` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `is_notice` tinyint(1) DEFAULT '0',
  `file_path` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `tags` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `category` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`post_id`),
  KEY `posts_ibfk_1` (`user_id`),
  CONSTRAINT `posts_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posts`
--

LOCK TABLES `posts` WRITE;
/*!40000 ALTER TABLE `posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text,
  `price` decimal(10,2) NOT NULL,
  `stock` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
INSERT INTO `products` VALUES (1,'asd',NULL,22333333.00,0,'2024-12-11 10:41:53','2024-12-11 10:41:53','2024-12-11 10:41:53','2024-12-11 10:41:53'),(2,'?ъ쁺',NULL,1.00,0,'2024-12-13 03:48:39','2024-12-13 03:48:39','2024-12-13 03:48:39','2024-12-13 03:48:39');
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchases`
--

DROP TABLE IF EXISTS `purchases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchases` (
  `id` int NOT NULL AUTO_INCREMENT,
  `product_id` int NOT NULL,
  `quantity` int NOT NULL,
  `buyer` varchar(255) NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `purchases_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchases`
--

LOCK TABLES `purchases` WRITE;
/*!40000 ALTER TABLE `purchases` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_ownership`
--

DROP TABLE IF EXISTS `stock_ownership`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock_ownership` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `stock_symbol` varchar(10) NOT NULL,
  `quantity` int NOT NULL,
  `purchase_price` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`,`stock_symbol`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_ownership`
--

LOCK TABLES `stock_ownership` WRITE;
/*!40000 ALTER TABLE `stock_ownership` DISABLE KEYS */;
INSERT INTO `stock_ownership` VALUES (11,886478189520637992,'AMD',0,503948),(19,886478189520637992,'GOOGL',1,913474),(28,886478189520637992,'zm',10000,1000);
/*!40000 ALTER TABLE `stock_ownership` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stocks`
--

DROP TABLE IF EXISTS `stocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stocks` (
  `stock_symbol` varchar(10) NOT NULL,
  `price` bigint NOT NULL,
  `previous_price` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`stock_symbol`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stocks`
--

LOCK TABLES `stocks` WRITE;
/*!40000 ALTER TABLE `stocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `stocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suspicious_paths`
--

DROP TABLE IF EXISTS `suspicious_paths`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suspicious_paths` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ip_address` varchar(45) NOT NULL,
  `requested_path` varchar(255) NOT NULL,
  `reason` varchar(255) NOT NULL,
  `detected_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suspicious_paths`
--

LOCK TABLES `suspicious_paths` WRITE;
/*!40000 ALTER TABLE `suspicious_paths` DISABLE KEYS */;
/*!40000 ALTER TABLE `suspicious_paths` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `nickname` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_general_ci DEFAULT '',
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `last_login_time` datetime DEFAULT NULL,
  `token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'fixed_value',
  `role` enum('user','admin') CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'user',
  `kakao_id` bigint DEFAULT NULL COMMENT '移댁뭅???ъ슜??怨좎쑀 ID',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `email_2` (`email`),
  UNIQUE KEY `kakao_id` (`kakao_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES ('52be3388-8389-4dd7-a3f5-0e3f7f331d87','?띿쥌??,'','as35186967@gmail.com',NULL,'fixed_value','user',3147454772),('alsxkr','alsxkr','$2b$10$6TCi/dgypigC3iV0pr5e4u6p8QwjpEIJC7xHChq7pr1FaQvW/KVDa','s01071240593@gmail.com',NULL,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiYWxzeGtyIiwiaWF0IjoxNzMzNzkxMzQ2LCJleHAiOjE3MzM3OTQ5NDZ9.3WkQ9ccSKKKLDBIRG3xMVAsA0hJhWAcyeaY2ZcGjYHs',NULL,NULL),('c2cbe1b5-93f1-4253-82b0-7e4662e65d20','?댁???,'','nui523431@gmail.com',NULL,'fixed_value','user',3838620179),('cvvv','ghdtkasjrnfl','$2b$10$I.IEap91lC.S3L5VPQMc1.PK2xh0NEsuRJU8eiPSp9y3K1iFghZRW',NULL,NULL,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiY3Z2diIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzMzODg0MzgzLCJleHAiOjE3MzM4ODc5ODN9.7R8WBcejFjmFuqVIK7FbYZMV92exro7FietDNPd_5oc','user',NULL),('dlgmltnr','dlgmltnr','$2b$10$gXkxu5JNgNxQyHMmvS2l0u1O16BW0yiSzqv0lJwFHo0FXWehjFqNO',NULL,NULL,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiZGxnbWx0bnIiLCJpYXQiOjE3MzM3OTI0NDksImV4cCI6MTczMzc5NjA0OX0.kYlRhKbUB5KNBoG5zUDFA3y3F9g9zEQeP9Go_rhVLqo',NULL,NULL),('ewq','qwer','$2b$10$YEOEKpvqFo/ZTyZXUIBsh.JYn3SXnkhGO3pduiZI3m3izXjDQsvje',NULL,NULL,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiZXdxIiwicm9sZSI6InVzZXIiLCJpYXQiOjE3MzM4ODQ0NjAsImV4cCI6MTczMzg4ODA2MH0.8upDLLsYysKlXxRxsr8em8S7fElavBuHaZcjKiQGivM','user',NULL),('gmltnrsnsk','gmltnrsnsk','$2b$10$hDONxj3t4CJoZKNkyO2umePRfa8ba/Scvm11TyNeQ0K2cRSi2d9Yy',NULL,NULL,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiZ21sdG5yc25zayIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzMzNzk0MzM2LCJleHAiOjE3MzM3OTc5MzZ9.gAVp0NMnaIVMQ4_QZioFjtdmsw6knCsGA0ceEycVXp4','user',NULL),('jjjs','jjjs','$2b$10$YkecZJpGLxsaWqvbnJfXfOJjDalanRr76Q3i21wcECZjMaJVMOlvq',NULL,NULL,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiampqcyIsImlhdCI6MTczMTI4ODM4NSwiZXhwIjoxNzMxMjkxOTg1fQ.bphCHRv6uVU9ztDVRofTKRW1D3KP-ehG2hWsfMUhadw','user',NULL),('sjw9179','?쇱“湲?,'$2b$10$aKdwLzONTnOP4jTxdgSJYeakAfekIA7.O0lPVlGaqV/3P0P4BLSVm',NULL,NULL,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoic2p3OTE3OSIsImlhdCI6MTczMzU0MzAwOSwiZXhwIjoxNzMzNTQ2NjA5fQ.IkMOIMpgKKxSHS5vq-2V5Mbg_P6gIgwo8RzmdqT6AkQ','user',NULL),('wtrdd','?붾뜒','$2b$10$lj90jZCaNSHhu57JZRyQ1OstrpOW9h03dX6BptHd8.CTIAiC4YL9K',NULL,NULL,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoid3RyZGQiLCJpYXQiOjE3MzEyODQwMDEsImV4cCI6MTczMTI4NzYwMX0.hQAyjB3hozYYB9ZEg8lRuLdUK75Mi85zn05XKNJ3XFY','admin',NULL),('wxcve123','?붾뜒','$2b$10$2qvmTJ8IoaXYQ3bqaGdH7e5XtEd5TgoktzEFsQNsIMsYAnUFXALDW',NULL,NULL,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoid3hjdmUxMjMiLCJpYXQiOjE3MzM1Mjk5NzAsImV4cCI6MTczMzUzMzU3MH0.GJfOS-RPc0OMLhjXVvI0EyPt_DACcC2HRt5bQ1Rindw','user',NULL);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `discriminator` varchar(10) NOT NULL DEFAULT '0000',
  `balance` bigint NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_claim` timestamp NULL DEFAULT NULL,
  `discord_id` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1064552336585928736 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (886478189520637992,'weoldeog1','0',77074860,NULL,'2024-12-19 03:26:02',NULL,NULL,NULL),(1064552336585928734,'ljw7903','0',0,'2024-12-24 01:53:41',NULL,NULL,NULL,NULL),(1064552336585928735,'weoldeog1','0000',0,'2024-12-26 01:03:15',NULL,'886478189520637992','wtrdd@naver.com','63698a651bbe541d0642f209061fb9f1');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `whitelisted_ips`
--

DROP TABLE IF EXISTS `whitelisted_ips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `whitelisted_ips` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ip_address` varchar(45) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ip_address` (`ip_address`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `whitelisted_ips`
--

LOCK TABLES `whitelisted_ips` WRITE;
/*!40000 ALTER TABLE `whitelisted_ips` DISABLE KEYS */;
INSERT INTO `whitelisted_ips` VALUES (3,'119.207.53.140','2024-12-14 03:03:51'),(9,'34.64.82.73','2024-12-17 10:38:34'),(11,'59.8.0.188','2024-12-24 01:57:07');
/*!40000 ALTER TABLE `whitelisted_ips` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-12-30 12:49:22
