<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Error</h1>
  <p><%= message %></p>
  <a href="/board">Go Back to Board</a>
</body>
</html>
